<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--<app-recipes></app-recipes>-->
      <!--<app-shopping-list></app-shopping-list>-->
      <router-outlet></router-outlet>
      <!--<div class="col-sm-5">
        <label for="name">Name</label>
        <input type="text" class="form-control" (input)="onChangeInput($event)">
        <p>lower-case: {{lowerCase}}</p>
        <p>upper-case: {{upperCase}}</p>
      </div>-->
      <!--<div class="col-sm-2">
        <label for="foreground">Foreground</label>
        <input type="text" class="form-control" [(ngModel)] = "fg">
        <label for="background">Background</label>
        <input type="text" class="form-control" [(ngModel)] = "bg">
        <hr>
        <div [ngStyle]="{'background-color':bg, 'color':fg, 'padding':'5px'}">Test</div>
      </div>-->
    </div>
  </div>
  <!--<div class="row">
    <select [(ngModel)] = "selection">
      <option *ngFor = "let option of options">{{option}}</option>
    </select>
    <div [ngSwitch] = "selection">
      <div class="block1" *ngSwitchCase = "options[0]">name</div>
      <div class="block2" *ngSwitchCase = "options[1]">address</div>
      <div class="block3" *ngSwitchDefault >other</div>
    </div>
  </div>-->
</div>

